.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-color: #9068BE; 
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 1rem;

    float:right;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #6ed3cf;
    color: white;
}